*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
}
#canvas1{
    position: absolute;
    top: 10;
    left: 10;  
}
.theory{
    position: absolute;
    width: 500px;
    top: 10px;
    left: 20px;
    color: rgb(228, 227, 167);
    padding: 5px;
    text-shadow: 1px 1px 1px rgb(114, 180, 206);
    line-height: 1.1rem;
}
h1{
    margin: 10px;
}
p{
    
    padding-left: 10px;
    text-indent: -15px;
}
p span{
    font-weight: bold;
}
ul{
    padding-left: 30px;
}
.blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background-color: rgba(200,200,200,0.8) ; */
    background-image: url('blur1.png');
    filter: blur(5px);
    z-index: 100;
    display: none;
}
.toggle{
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 2px 2px rgb(78, 77, 77);
    z-index: 110;
}
.toggle::before{
     content: "";
    position: absolute;
    top: 15px;
    left: 30px;
    width: 125px;
    height: 20px;
    box-shadow: inset 0px 2px 2px grey;
    background: linear-gradient(to right, green, red);
}
.toggle::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 150px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgb(241, 116, 116),rgb(196, 120, 120));
    box-shadow: inset 0 3px 3px rgba(255, 0, 0, 0.3), 
                inset 0 -3px 3px rgba(255, 0, 0, 0.3) ;
    transition: 0.5s;
}
.toggle:active::after{
    background: linear-gradient(to bottom, rgb(7, 156, 27),rgb(160, 190, 147));
    box-shadow: inset 0 3px 3px rgba(0, 250, 0, 0.3), 
                inset 0 -3px 3px rgba(0, 250, 0, 0.3) ;
    left: 10px;
}
